<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    {{>styles}}
</head>
<body>
    {{>header}}
    <div class="wrapper">
        <h2 class="text-center special-title">Add Car</h2>
        <form method="POST" enctype="multipart/form-data" class="row blue-container">
            <div class="span6">
                <label for="make">Make</label>
                <input type="text" id="make" name="make"/>
            </div>
            <div class="span6">
                <label for="model">Model</label>
                <input type="text" id="model" name="model"/>
            </div>
            <div class="span6">
                <label for="price">Price</label>
                <input type="text" id="price" name="price"/>
            </div>
            <div class="span6">
                <label for="image">Image</label>
                <input type="file" name="image" value="image"/>
            </div>

            <input type="submit" value="Add Car" class="span12 add-button"/>
        </form>
    </div>
    {{>scripts}}
</body>
</html>