<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class="wrapper">
        <h2 class="special-title text-center">{{make}} {{model}}</h2>

        <div class="row text-center">
            <p>views: {{views}}</p>
            <p>Is Deleted: {{isDeleted}}</p>

            <form method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="submit" value="{{deleteButtonText}}">
            </form>
        </div>

        <div class="row blue-container">
            <img class="span4" src="{{imagePath}}" alt="{{make}} {{model}}">
            <div class="span8">
                <div class="row car-detail-item">
                    Make: {{make}}
                </div>
                <div class="row car-detail-item">
                    Model: {{model}}
                </div>
                <div class="row car-detail-item">
                    Price: {{price}}
                </div>
            </div>
        </div>
        
        <h3 class="text-center buffer-top">Add Comment</h3>
        <form method="POST" action="/details/{{id}}/comment" class="row orange-container">
            <div class="span6">
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div class="span6">
                <label for="commentText">Comment text</label>
                <textarea rows="5" cols="80" id="commentText" name="commentText"></textarea>
                <!--<input type="text" id="commentText" name="commentText"/>-->
            </div>
            <input type="hidden" name="carId" value="{{id}}">
            <input type="submit" value="Add Comment" class="span12 add-button">
        </form>

        <h3 class="text-center buffer-top">Comments</h3>
        <ul class="row">
            {{#comments}}
            <li class="span12 comment-container">
                <h4>User:</h4>
                <p>{{username}}</p>
                <h4>Comment</h4>
                <p>{{commentText}}</p>
            </li>
            {{/comments}}
        </ul>
    </div>
    {{>scripts}}
</body>

</html>