<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    {{>styles}}
</head>

<body>
    {{>header}}
    <h1>{{make}} {{model}}</h1>
    <p>Is Deleted: {{isDeleted}}</p>

    <form method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" value="{{deleteButtonText}}">
    </form>

    <p>views: {{views}}</p>
    <div>
        Make: {{make}}
    </div>
    <div>
        Model: {{model}}
    </div>
    <div>
        Price: {{price}}
    </div>
    <img src="{{imagePath}}" alt="{{make}} {{model}}">

    <h2>Add Comment</h2>
    <form method="POST" action="/details/{{id}}/comment">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="commentText">Comment text</label>
            <input type="text" id="commentText" name="commentText"/>
        </div>
        <input type="hidden" name="carId" value="{{id}}">
        <input type="submit" value="Add Comment">
    </form>

    <h2>Comments</h2>
    <ul>
        {{#comments}}
        <li>
            <h3>{{username}}</h3>
            <p>{{commentText}}</p>
        </li>
        {{/comments}}
    </ul>
    {{>scripts}}
</body>

</html>