<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Ad System</title>
    {{>styles}}
</head>

<body>
    {{>header}}
    <h1>Welcome to the Best Car Ad System in the world!</h1>
    <div>
        You want to sell a car? You want to buy a car? This is the place for you!
    </div>
    <h2>Check out some cars</h2>
    <ul>
        {{#cars}}
        <li>
            <a href="/details/{{id}}">
                <p>{{make}} {{model}}</p>
                <p>Price: {{price}}</p>
            </a>
        </li>
        {{/cars}}
    </ul>
    {{>scripts}}
</body>

</html>