<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Stats</title>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class="wrapper">
        <h2 class="text-center special-title">Cars Stats</h2>
        <ul class="row">
            {{#cars}}
            <li class="span4 car-item">
                <a href="/details/{{id}}">
                    <p>{{make}} {{model}}</p>
                    <p>IsDeleted: {{isDeleted}}</p>
                    <p>Price: {{price}}</p>
                    <p>Views: {{views}}</p>
                    <p>Comments count: {{commentsCount}}</p>
                </a>
            </li>
            {{/cars}}
        </ul>
    </div>
    {{>scripts}}
</body>

</html>