body {
    font-family: Arial;
    padding: 20px;
}

    body h1 {
        color: orange;
    }

    body nav {
        margin-bottom: 60px;
    }

        body nav ul {
            list-style-type: none;
        }

            body nav ul li {
                display: inline-block;
                margin-right: 20px;
            }

                body nav ul li:last-child {
                    margin-right: none;
                }

                body nav ul li a {
                    background: orange;
                    padding: 20px;
                }

                    body nav ul li a:hover {
                        background: yellow;
                    }