body {
    font-family: Arial;
    padding: 20px;
    color: #39515D;
    padding: 0;
    font-size: 20px;
}

    body .row {
        margin-left: 0;
    }

    body header {
        padding-top: 30px;
        background: #9DB9CA;
        margin-bottom: 30px;
    }

    body .wrapper {
        padding: 0 50px;
    }

    body h1 {
        text-transform: uppercase;
    }

    body h1, h2, h3, h4 {
        color: #39515D;
    }

    .buffer-top {
        margin-top: 50px;
    }

    body ul {
        list-style-type: none;
    }

    body nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

        body nav ul li:last-child {
            margin-right: none;
        }

        body nav ul li a {
            background: #AD9748;
            padding: 20px;
            text-decoration: none;
            font-size: 20px;
        }

            body nav ul li a:hover {
                background: #39515D;
                cursor: pointer;
                color: #9DB9CA;
                text-decoration: none;
            }

            body nav ul li a:visited {
                color: #39515D;
            }

                body nav ul li a:visited:hover {
                    color: #9DB9CA;
                }

    body .car-item, body .blue-container {
        background: #39515D;
        color: #9DB9CA;
        margin: 10px;
        padding: 10px;
    }

    .orange-container {
        color: #39515D;
        background: #AD9748;
        margin: 10px;
        padding: 10px;
    }

        body .car-item:hover { 
            background: #9DB9CA;
        }

        body .car-item a:hover {
            cursor: pointer;
            text-decoration: none;
        }

    body .special-title {
        margin-top: 30px;
        text-transform: uppercase;
        color: #AD9748;
    }

    body label, input {
        font-size: 20px;
    }

    body input[type=submit] {
        line-height: 40px;
    }

    .add-button {
        margin-top: 30px;
    }

    .car-detail-item {
        padding: 10px 5px;
    }

    .comment-container {
        border-bottom: 1px solid #AD9748;
        margin-top: 30px;
    }

        .comment-container p {
            margin-left: 30px;
        }

    .note {
        font-style: italic;
        font-size: 12px;
    }